{% extends 'base.html.twig' %}

{% block title %}{{ 'label.register'|trans }}{% endblock %}

{% block main %}
    <div class="mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {% for flashError in app.flashes() %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h3>{{ 'label.register'|trans }}</h3>

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.fullName) }}
            {{ form_row(registrationForm.password.first, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.password.second, {
                label: 'Repita Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary">{{ 'label.register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
