<nav class="navbar navbar-expand-lg fixed-top mt-0 pt-0">
    <div class="container-fluid bg-blog-azul">
        <div class="navbar-header col-sm-6 col-md-8 col-lg-2 ">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="{{ asset('images/logo-con-nombre.png') }}" alt="Alameda Blog"
                     class="img-responsive img-fluid" style="height: 50px">
                <span class="site_name"> {{app.request.server.get('APP_SITE_NAME') }}</span>

            </a>

            <button class="navbar-toggler blog-azul-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse-menu"
                    aria-controls="navbar-collapse-menu"
                    aria-expanded="false" aria-label="Toggle navigation"
            >
                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse " id="navbar-collapse-menu">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-blog-azul">
                {% block header_navigation_links %}
                    <li class="nav-item text-blog-azul">
                        <a href="{{ path('blog_index') }}" class="nav-link">
                            {{ 'menu.homepage'|trans }}
                        </a>
                    </li>

                    {% if is_granted('ROLE_ESCRITOR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_post_index') }}">
                                {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_search') }}">
                        {{ 'menu.search'|trans }}
                    </a>
                </li>

                {% if app.user %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" role="button"
                           aria-expanded="false" id="user">
                            Usuario
                            <span class="caret"></span>
                            <span class="sr-only">{{ app.user.fullname }}</span>
                        </a>
                        <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_edit') }}">
                                    {{ 'menu.user'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">
                                    {{ 'menu.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-expanded="false" id="locales">
                        <i> Idioma </i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            <li class="nav-item"
                                {% if app.request.locale == locale.code %}
                                    aria-checked="true" class="active"
                                {% else %}
                                    aria-checked="false"
                                {% endif %}
                                role="menuitem">
                                <a class="nav-link"
                                        href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}
                                    <small>{{ locale.code[0:2] }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if app.user == null  %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-expanded="false" id="locales">
                        <i> {{ 'menu.my_account'|trans }} </i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.my_account'|trans }}</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">

                            <li class="nav-item" role="menuitem">
                                <a class="nav-link"
                                   href="{{ path('security_login')}}">
                                    {{ 'menu.login'|trans }}
                                </a>
                            </li>


                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>