<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light text-primary">
    <div class="container-fluid">
        <div class="navbar-header col-md-3 col-lg-2">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Alameda Blog
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse-menu"
                    aria-controls="navbar-collapse-menu"
                    aria-expanded="false" aria-label="Toggle navigation"
            >
                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% block header_navigation_links %}
                    <li class="nav-item">
                        <a href="{{ path('blog_index') }}" class="nav-link">
                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_post_index') }}">
                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('blog_search') }}"><i class="fa fa-search"></i> {{ 'menu.search'|trans }}
                    </a>
                </li>

                {% if app.user %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" role="button"
                           aria-expanded="false" id="user">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="caret"></span>
                            <span class="sr-only">{{ app.user.fullname }}</span>
                        </a>
                        <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_edit') }}">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       role="button"
                       aria-expanded="false" id="locales">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            <li class="nav-item"
                                {% if app.request.locale == locale.code %}
                                    aria-checked="true" class="active"
                                {% else %}
                                    aria-checked="false"
                                {% endif %}
                                role="menuitem">
                                <a class="nav-link"
                                        href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}
                                    <small>{{ locale.code[0:2] }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>