{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        {#        <div class="card-group"> #}
        {% for post in paginator.results %}
            <div class="col mx-auto">
                <div class="card h-100 ">
                    <a href="{{ path('blog_post', {slug: post.slug}) }}">
                        <img src="{{ post.imageFilename }}" class="card-img-top" alt="Blog Alameda">
                    </a>

                    <div class="card-body">
                        {% if post.imageAuthor %}
                            <div class="mb-3">
                            <small class="text-muted position-absolute end-0 pe-2">
                                {% if(post.imageLinkOriginal) %}
                                <a href="{{ post.imageLinkOriginal }}" class="btn-link text-muted" target="_blank">
                                    {% endif %}
                                    {{ post.imageAuthor }}
                                    {% if(post.imageLinkOriginal) %}
                                </a>
                                {% endif %}

                            </small>
                            </div>

                        {% endif %}

                        <h2 class="card-title espaciado-1 ">
                            <a href="{{ path('blog_post', {slug: post.slug}) }}" class="blog-h2-a">
                                {{ post.title }}
                            </a>
                        </h2>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Por <a href="{{ path('blog_index', {'author' : post.author.fullName}) }}">
                                <span>{{ post.author.fullName }} </span>
                            </a>

                            | {{ post.publishedAt|format_datetime('long', 'none', '', 'UTC') }}
                        </h6>
                        <p class="card-text summary">
                            {{ post.summary }}
                        </p>

                        <a href="{{ path('blog_post', {slug: post.slug}) }}" class="card-link">
                            Ver contenido
                        </a>
                    </div>
                    <div class="card-footer">
                        {{ include('blog/_post_tags.html.twig') }}
                    </div>
                </div>
            </div>

        {% else %}
            <div class="well">{{ 'post.no_posts_found'|trans }}</div>
        {% endfor %}
        {#        </div> #}
    </div>

    {% if paginator.hasToPaginate %}
        <nav aria-label="Page navigation blog" class="align-content-center mt-5">
            <ul class="pagination justify-content-center">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item">
                        <a href="{{ path('blog_index_paginated', {page: paginator.previousPage, tag: tagName}) }}"
                           class="page-link" rel="previous">
                            <i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            <i class="fa fw fa-arrow-left"></i>
                            {{ 'paginator.previous'|trans }}
                        </span>
                    </li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }}
                                <span class="sr-only">{{ 'paginator.current'|trans }}</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="{{ path('blog_index_paginated', {page: i, tag: tagName}) }}"
                               class="page-link">
                                {{ i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item">
                        <a href="{{ path('blog_index_paginated', {page: paginator.nextPage, tag: tagName}) }}"
                           class="page-link" rel="next">
                            {{ 'paginator.next'|trans }}
                            <i class="fa fw fa-arrow-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            {{ 'paginator.next'|trans }}
                            <i class="fa fw fa-arrow-right"></i>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{# {% block sidebar %}#}
{#         {{ parent() }}#}


{#     #}{#    {{ show_source_code(_self) }} #}
{#     #}{#    {{ include('blog/_rss.html.twig') }} #}
{# {% endblock %}#}
