{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% block body_id 'blog_search' %}

{% block main %}
<div class="row row-cols-1 row-cols-md-8 g-4 mt-5">
    <form action="{{ path('blog_search') }}" method="get">
        <div class="form-group">
            <label>
                <input name="q"
                       class="form-control search-field"
                       placeholder="{{ 'post.search_for'|trans }}"
                       autocomplete="off"
                       value="{{ query }}"
                       autofocus
                       data-no-results-message="{{ 'post.search_no_results'|trans }}"
                >
            </label>
        </div>
    </form>
</div>
    <div id="results" class="row mt-5">
    </div>

{% endblock %}

{% block sidebar %}
{#    {{ parent() }}#}

{#    {{ show_source_code(_self) }}#}
{% endblock %}
