<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Alameda Blog {% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <style>

        .font-lato {
            font-family: 'Lato', sans-serif !important;
        }
        body {
            font-family: "Lato",sans-serif; font-style: normal; font-weight: 100 !important;
        }
    </style>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}" >

{% block header %}
{#    <header>#}
        {% include 'default/_nav.html.twig' %}
{#    </header>#}
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row mt-5">
            <div id="main" class="col-sm-10 mx-auto">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>
                            {% block sidebar %}
            <div id="sidebar" class="col-sm-2">

                    {#                            {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', { #}
                    {#                                'template': 'blog/about.html.twig', #}
                    {#                                'sharedAge': 600, #}
                    {#                                '_locale': app.request.locale #}
                    {#                            })) }} #}

            </div>
                            {% endblock %}
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer class="footer-blog">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <i class="fa fa-copyright"></i> {{ 'now'|date('Y') }} - Alameda Blog
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://www.facebook.com/IglesiaAlameda" title="Alameda Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        {#                                <a href="https://alameda.ar/blog/" title="Alameda Blog"> #}
                        {#                                    <i class="fa fa-rss" aria-hidden="true"></i> #}
                        {#                                </a> #}
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
</body>
</html>
