<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{{ app.request.server.get('APP_SITE_NAME') }} {% endblock %}</title>
    <meta name="description"
          content="{{ app.request.server.get('APP_SITE_NAME') }}, {% block meta_description_content %} {% endblock %}">
    <meta name="keywords"
          content="{% block meta_keywords_content %} AlamedaBlog,{{ app.request.server.get('APP_SITE_NAME') }}  {% endblock %}">
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/custom_alameda_blog.css') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <style>

        .font-lato {
            font-family: 'Lato', sans-serif !important;
        }

        body {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 100 !important;
        }
    </style>

    {% include '_favicon.html.twig' %}


</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    {#    <header> #}
    {% include 'default/_nav.html.twig' %}
    {#    </header> #}
{% endblock %}
{# {% block errors %} #}
{#    {{ include('default/_flash_messages.html.twig') }} #}
{# {% endblock %} #}

<div class="container body-container">
    {% block body %}
        <div class="row mt-5">
            <div id="main" class="col-sm-10 mx-auto p-3">


                {% block main %}{% endblock %}
            </div>
            {% block sidebar %}
                <div id="sidebar" class="col-sm-2">
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer class="footer-blog">
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <i class="fa fa-copyright"></i> {{ 'now'|date('Y') }}
                    - {{ app.request.server.get('APP_SITE_NAME') }}
                </div>
                <div id="footer-resources" class="col-md-6">
                    <div style="display: flex; justify-content: flex-end; flex-direction: row;">

                    {% for redSocial in get_social_networks() %}
                            <a href="{{ redSocial.siteUrl }}" title="{{ redSocial.title }}"
                               target="_blank" style="text-decoration: none"
                            >
                                <i class="{{ redSocial.iconText }}" aria-hidden="true"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{{ 'now'|format_datetime('long', 'long', '', 'GMT-3', '', 'es') }}
</body>
</html>
