{{ form_start(form) }}
    {{ form_widget(form) }}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
<button type="submit" class="{{ button_css|default("btn btn-primary") }}">
    <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_tag'|trans) }}
</button>
{{ form_end(form) }}
